<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Code Completion Example</title>
    <link rel="stylesheet" href="static/style.css">
     <link rel="icon"  href="static/favicon.ico"/>
  </head>
  <body>
    <div class="container">
      <h1>Code Completion Example</h1>
      <form>
        <label for="input">Enter Your Code:</label><br>
        <textarea id="input" name="input" rows="10" cols="50"></textarea><br>
        <button type="button" onclick="runCode()">Submit</button>
      </form>
      <div id="output"></div>
      <div class="output-box">{{ program }}</div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
 -->
<!DOCTYPE html>
<html>
<head>
    <link rel="icon"  href="static/favicon.ico"/>
    <meta charset="utf-8">
    <title>output Generated here.</title>
    <style>
        .output-box {
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 20px;
            font-family: monospace;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    <h1>output is :</h1>
    <div class="output-box">{{ program }}</div>
</body>
</html>
